<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748684666463-46gjodjkcdura4gqv3rj00n4bsuhsu7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748684666463-46gjodjkcdura4gqv3rj00n4bsuhsu7c</string>
	<key>API_KEY</key>
	<string>AIzaSyBVyFfW7zNeExP-MJc8WkM2OnabS_WCiH8</string>
	<key>GCM_SENDER_ID</key>
	<string>748684666463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yusufkeskin.CAR-RENTAL</string>
	<key>PROJECT_ID</key>
	<string>rent-a-car-f2131</string>
	<key>STORAGE_BUCKET</key>
	<string>rent-a-car-f2131.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748684666463:ios:6a4aa7b37497897fd11dea</string>
</dict>
</plist>